<!--Wireframe for the monomi MVP with previews or placeholders for future features-->
<!--Written by Dillon Lin [simulacraD]-->
<!--WIREFRAME BUILD VER. 2021.08.21-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>monomi.ai Register Email & Password</title>

    <!-- Reset browser default style before importing stylesheet and fonts -->
    <link href="styles/reset.css" rel="stylesheet">

    <!-- Link to stylesheet and fonts -->
    <link href="styles/styleStart.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>
<main>
  <div id="main">      
    <a href="monomi.ai.html"><img src="images/monomi.ai-filled-fbd30b.svg" width="505" height="102"></a>
    <div style="text-align: justify; padding: 0 6px 0 6px;"><h4>Please register with your email and create an unique password</h4></div>
    <br>
    <input autofocus="" autocapitalize="off" autocorrect="off" type="text" ng-model="username" id="username" name="username" placeholder-translate-context="login form placeholder" required="" placeholder=" Enter Email Address">
    <br>
    <input autocapitalize="off" autocorrect="off" type="text" ng-model="username" id="username" name="username" placeholder-translate-context="login form placeholder" required="" placeholder=" Re-enter Email Address">
    <br>
    <br>
    <input type="password" class="password-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="value" autocapitalize="off" autocorrect="off" autocomplete="off" required="" data-toggle-password="" id="password" name="password" placeholder=" Enter Password">
    <br>
    <input type="password" class="password-input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="value" autocapitalize="off" autocorrect="off" autocomplete="off" required="" data-toggle-password="" id="password" name="password" placeholder=" Re-Enter Password">
    <br>
    <br>
    <a href="register2.html" class="navBtn" style="background-color:#fbd30b; width: 486px; color:#111111; text-decoration: none; border:#111111; border-style: solid; border-radius: 45px; margin: 0 auto 0 auto;"><h3>Next</h3></a>
    <br>
    <a href="register.html" class="navBtn" style="background-color:#d0d0d0; width: 486px; color:#111111; text-decoration: none; border:#111111; border-style: solid; border-radius: 45px; margin: 0 auto 0 auto;"><h3>Go Back</h3></a>
  </div>
</main>
</body>
</html>

<!-- Scipts to load -->