/*General top level*/    
html body {
  background-color: #f1f1f1;
  color: #2f2b2f;
}

/* fonts */
body,
input,
textarea,
h1 h2 h3 h4 h5 h6,
input,
select,
button,
.page-title span,
a.url {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  text-decoration: none;
}   

/* font size heirarchy */
h1 {font-size: 4.8rem;}
h2 {font-size: 4.2rem;}
h3 {font-size: 3.6rem;}
h4 {font-size: 3.0rem;}
h5 {font-size: 2.4rem;}
h6 {font-size: 1.8rem;}

/* set out link style, no break, no hyperlink appearance */
a {
  white-space: nowrap;
  text-decoration: none;
  font-size: inherit;
}

/* set out textearea style */
textarea {
  width: 98%;
  font-size: inherit;
  text-align: left;
  background-color: inherit;
  color: inherit;
  opacity: 1;
}

/* set out input field style */
input {
  font-size: inherit;
  text-align: left;
  background-color: inherit;
  color: inherit;
  opacity: 1;
}

/* set out select field style */
select {
  font-size: inherit;
  text-align: left;
  background-color: inherit;
  color: inherit;
  opacity: 1;
}

/* set out the main content window */
#main { 
  background-color: #f1f1f1;
  height: auto;
  text-decoration: none;
  z-index: -1;
}

#topTitleGrid {
  position: fixed; /* Make it fixed but within the overlay */
  background-color: #f1f1f1;
  top: 0;
  width: 100%; 
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: grid;
  grid-template-rows: 75px 100px 105px; /* set out spacing */
  grid-template-columns: 5% 1fr 1fr 5%;
  z-index: 10;
}

.span2-4 {
  grid-column: 2 / 4;
}

.span1-4 {
    grid-column: 1 / 4;
  }

.span1-5 {
  grid-column: 1 / 5;
}

/* alert dot*/
.alertDot { 
  background-color:red; 
  height:30px; 
  width:30px; 
  border-radius:50%; 
  position:absolute; 
  top:21px; 
  left:72px;
}

/* search bar style, part of tool nav above */
.round {
  width: 100%;
  font-size: 4.2rem;
  text-align: left;
  border-radius: 45px;
  border: 2px #838383 solid;
  background-color: #f1f1f1;
  color: #838383;
  text-indent: 25px;
  z-index: 5;
}

.search {
  position: relative;
  width: 100%;
  height: 90px;
  margin: 0 auto 0 auto;
}

.contentInput {
  margin: 0 auto 0 auto;
  width: 600px;
}