/*General top level*/    
html body {
  background-color: #2f2b2f;
  color: #f1f1f1;
}

/* fonts */
body,
input,
textarea,
h1 h2 h3 h4 h5 h6,
input,
select,
button,
.page-title span,
a.url {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  text-decoration: none;
}   

/* font size heirarchy */
h1 {font-size: 4.8rem;}
h2 {font-size: 4.2rem;}
h3 {font-size: 3.6rem;}
h4 {font-size: 3.0rem;}
h5 {font-size: 2.4rem;}
h6 {font-size: 1.5rem;}

/* set out link style, no break, no hyperlink appearance */
a, a:link, a:visited, a:focus, a:hover, a:active {
  white-space: nowrap;
  text-decoration: none;
  font-size: inherit;
}

/* set out textearea style */
textarea {
  width: 98%;
  font-size: inherit;
  text-align: left;
  background-color: inherit;
  color: inherit;
  opacity: 1;
}

/* set out input field style */
input {
  font-size: inherit;
  text-align: left;
  background-color: inherit;
  color: inherit;
  opacity: 1;
}

/* set out select field style */
select {
  font-size: inherit;
  text-align: left;
  background-color: inherit;
  color: inherit;
  opacity: 1;
}

/*
ul {
  list-style-position: inside;
}
*/

#topTitleGrid {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  display: grid;
  background-color: rgba(47, 43, 47, 1);
  grid-template-rows: 75px 75px 90px;
  grid-template-columns: 5% 5fr 4fr 5%;
  z-index: 10;
}

#topTitleGrid-NFT {
  position: absolute;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  display: grid;
  grid-template-rows: 60px 106px 90px;
  grid-template-columns: 5% 5fr 4fr 5%;
  z-index: 10;
}

.span2-4 {
  grid-column: 2 / 4;
}

.span1-4 {
    grid-column: 1 / 4;
  }

.span1-5 {
  grid-column: 1 / 5;
}

/* alert dot*/
.alertDot { 
  background-color:red; 
  height:30px; 
  width:30px; 
  border-radius:50%; 
  position:absolute; 
  top:21px; 
  left:72px;
}

/* search bar style, part of tool nav above */
.round {
  width: 100%;
  font-size: 3.6rem;
  text-align: left;
  border-radius: 45px;
  border: 2px #2f2b2f solid;
  background-color: #d3d3d3;
  color: #838383;
  text-indent: 25px;
  z-index: 5;
}

.search {
  position: relative;
  width: 100%;
  height: 95%;
  margin: 0 auto 0 auto;
}

.contentInput {
  margin: 0 auto 0 auto;
  width: 600px;
}